<!DOCTYPE html>
<html>
  <head>
    <title>Example Spotify Project</title>
    <style type="text/css">
      body {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      }
      #login-button {
        background-color: #07DB1D;
        color: white;
        padding: 10px;
        text-decoration: none;
        border-radius: 8px;
      }
      #login-button:hover {
        background-color: gray;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div id="login">
        <h3>ACM-W Project Example</h3>
        <a href="/login" id="login-button">Log in with Spotify</a>
      </div>
  </body>
</html>
